/* Estilos predefinidos */* {
   font-family: sans-serif;
   text-align: center;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body{background-color: bisque;}
header{display: grid; grid-template-columns: 100px auto;
text-align: center; background-color: rgb(122, 22, 26); color: black;
gap: 10px; align-items: center;} 
footer{background-color: rgb(122, 22, 26); color: black; padding: 20px;
margin: 50px 0px 0px 0px; }
img{width: 100%; height: 100%; border-radius: 15px;}

main{width: 90%; margin: auto;}
p{padding: 15px;   font-family: "Agu Display", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-variation-settings:
     "MORF" 0;}
h2{color: black; background-color: rgb(154, 14, 14); padding: 20px; border-radius: 20px;
margin:  20px 0px;  font-family: "Agu Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;}

section{margin-top: 70px; background-color:  rgba(172, 21, 21, 0.936); border-radius: 50px;}
article{background-color:  rgba(172, 21, 21, 0.936); border-radius: 50px;
color: rgb(0, 0, 0); padding: 15px; display: grid;
grid-template-rows: 100px 200px 150px ;align-items: center; border-style: dotted;}
#noticia-principal{display: grid; grid-template-rows: 80px 400px 130px;}

 section div{display: grid; grid-template-columns: 1fr 1fr ;
 padding: 15px; gap: 20px; margin: 10px; }

 span{font-weight: bold;}

 nav ul{display: grid; grid-template-columns: 1fr 1fr 1fr ;
 list-style: none; margin-left: 15%;}
header div{display: grid; grid-template-columns: 70px 1fr; 
padding-left: 10px; gap: 15px; align-items: center;}



 a{text-decoration: none; color: black;}
         
a:hover{background-color:  #ff2301; color: black; }